{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}event-summary{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{range where .Site.Pages "Type" "=" "events"}}
<div class="intro intro-big pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">{{ .Content }}</div>
    </div>
  </div>
</div>
{{end}}
{{range where .Site.Pages "Type" "=" "events_content"}}
<div class="container pt-0 pb-4 pb-md-10 ">
  <div class="row justify-content-start">
    <div class="col-12 col-md-12 ">
      <div class="work work-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{end}}
{{ end }}

{{ define "footer_js" }}
{{ end }}