.work-masonry {
  position: relative;
  cursor: pointer;
  .work-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .work-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 62, 211, 0.7);
    cursor: pointer;
    text-decoration: none;
    transition: opacity 200ms ease-in-out;
    h2 {
      color: #fff;
      a {
        color: #fff;
      }
    }
    p {
      color: #fff;
    }
  }
  &:hover {
    .work-overlay {
      visibility: visible;
      opacity: 1;
      display: block;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      transition: opacity 200ms ease-in-out;
    }
  }
}
