.work-summary {
  height: 100%;
  display: flex;
  //align-items: flex-start;
  flex-direction: column;
  @include whitebox(0);
  .work-image {
    padding: 0px;
    max-height: 340px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .work-title {
    padding: 50px 50px 10px 50px;
    h2 {
      font-family: $font-family-heading;
      font-size: 2rem;
      line-height: 1.3;
      margin: 0;
    }
  }
  .work-meta {
    padding: 0 50px 20px 50px;
    margin: 0;
    span {
      color: #333;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9rem;
      background-color: rgba(0,0,0,0.05);
      padding: 0.1rem 0.3rem;
      border-radius: 0.2rem;
    }
  }
  .work-content {
    flex: 1;
    padding: 0 50px 20px 50px;
  }
  .work-link {
    flex: 0;
    margin-top: auto;
    padding: 0 50px 50px 50px;
  }
  a.work-read-more {
    font-weight: 400;
    font-family: $font-family-heading;
  }
}
