.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $primary;
  background-image: linear-gradient(to right, $primary, $secondary);
  height: 400px;
  position: relative;
  @include media-breakpoint-down(sm) {
    height:auto!important;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row {
    height: inherit;
  }
  .hero-text {
    //flex: 0;
    color: #ffffff;
    margin: auto 0;
    h1 {
      font-size: 3rem;
      line-height: 1.2;
      font-weight: 400;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
        width: 80%;
      }
    }
    h2 {
      font-size: 2.2rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
    p {
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.3;
      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        width: 80%;
      }
    }
  }
  .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7;
    a {
      display: inline-block;
      &:hover {
        opacity: 1;
      }
    }
  }
  .hero-section {
    text-transform: uppercase;
    font-weight: normal;
  }
  .hero-diagonal {
    position: absolute;
    bottom: 0;
  }
}
.hero-image-fullscreen {
  height: 100vh;
}
.hero-image-blend-overlay {
  background-blend-mode: overlay;
}
