.partners {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  img {
    height: 60px;
  }
  .partner {
    flex: auto;
    margin-bottom: 20px;
    margin: 0 10px 20px 10px;
  }
}
