{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-support-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{range where .Site.Pages "Type" "=" "support"}}
<div class="intro intro-big pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">{{ .Content }}</div>
    </div>
  </div>
</div>
{{end}}
<div class="container pt-0 pb-4 pb-md-10 ">
  <div class="row justify-content-start">
    {{range where .Site.Pages "Type" "=" "support_content"}}
    <div class="col-12 col-md-12 ">
      <img class="docs-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="Card image cap">
      <div class="work work-single">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
    {{end}}
  </div>
</div>

<div class="support support-list">
  <div class="container pt-0 pb-4 pb-md-10 ">
      {{range where .Site.Pages "Type" "=" "support_type"}}
      <div class="support-box">
                <img class="support-image" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="Card image cap">
      <div>
        <div class="content">{{.Content}}</div>
      </div>
      </div>

      {{end}}
  </div>
</div>

<div class="support support-list">
  <div class="container pt-0 pb-4 pb-md-10 ">
    <a class="button button-primary" href="https://seqera.io/">Learn more</a> 
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}