{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}community-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{range where .Site.Pages "Type" "=" "community"}}
<div class="intro intro-big pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">{{ .Content }}</div>
    </div>
  </div>
</div>
{{end}}
<div class="container pt-0 pb-2 pb-md-10 ">
  <div class="row justify-content-start">
      {{range where .Site.Pages "Type" "=" "community_content"}}
        {{.Content}}
      {{end}}
  </div>
</div>

<div class="intro intro-small pb-0">
  <div class="container pt-0 pb-2 pb-md-2 ">
    <div class="row">
        {{range where .Site.Pages "Type" "=" "contribs"}}
          <div class="col-12">{{ .Content }}</div>
        {{end}}
    </div>
  </div>
</div>
<div class="community community-list">
    <div class="container pt-0 pb-5 pl-5">
      <div class="row justify-content-start">
        {{ range .Site.Data.contributors }}
          <a href=" {{ .html_url }} ">
            <div class="contrib-image">
              <img class="img-fluid" alt=" {{ .login }} " src="{{ .avatar_url }}">
            </div>
          </a>
        {{ end }}
      </div>
    </div>
</div>



{{ end }}



{{ define "footer_js" }}
{{ end }}