<div class="work work-summary">
  {{ if .Params.thumbnail }}
  <div class="work-image">
    <a href="{{ .RelPermalink }}"><img src="{{ .Params.thumbnail | relURL }}" /></a>
  </div>
  {{ end }}
  <div class="work-title">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  </div>
  {{ if .Params.works }}
  <div class="work-meta">
    <span>{{ delimit .Params.works ""}}</span>
  </div>
  {{ end }}
  <div class="work-content">{{ .Params.desciption | plainify | truncate 120 "..." }}</div>
  <div class="work-link"><a class="work-read-more" href="{{ .Permalink }}">Read More<i
        class="fas fa-long-arrow-alt-right ml-1"></i></a></div>
</div>
