<div class="team team-summary">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="{{ .Title }} logo" class="img-fluid mb-2" src="{{ .Site.BaseURL }}{{ .Params.image }}" />
  </div>
  {{ end }}
  <div class="team-block">
    <div class="team-meta">
      <h2 class="team-name">{{ .Title }}</h2>
      <div class="team-jobtitle">{{ .Params.Jobtitle }}
          {{ if .Params.flag_image }}
      <img src="{{ .Site.BaseURL }}{{ .Params.flag_image }}" style="max-height: 30px; max-width:30px">
    {{ end }}
      </div>
      <div class="team-links">
      {{ if .Params.linkedin_url }}
        <a class="team-linkedin" target="_blank" href="{{ .Params.linkedin_url }}">
          <i class="fab fa-linkedin"></i>
        </a> 
      {{ end }}
      {{ if .Params.twitter_url }}
        <a class="team-linkedin" target="_blank" href="{{ .Params.twitter_url }}">
            <i class="fab fa-twitter-square"></i>
        </a> 
      {{ end }}
      {{ if .Params.dribble_url }}
        <a class="team-linkedin" target="_blank" href="{{ .Params.dribble_url }}">
            <i class="fab fa-dribbble-square"></i>
        </a> 
      {{ end }}
      {{ if .Params.behance_url }}
        <a class="team-linkedin" target="_blank" href="{{ .Params.behance_url }}">
            <i class="fab fa-behance-square"></i>
        </a> 
      {{ end }}

      </div>
    </div>
    <div class="team-content">{{ .Content }}</div>
  </div>
</div>