{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-posts-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image.html" (dict "background" .Params.heroBackground "fullscreen" .Params.heroFullscreen "height" .Params.heroHeight "heading" .Params.heroHeading "subheading" .Params.heroSubheading "overlay" .Params.heroBackgroundOverlay "diagonal" .Params.heroDiagonal "diagonalfill" .Params.heroDiagonalFill "content" .) }}


<div class="intro intro-big pt-4 pt-md-10 pb-4 pb-md-10">
  <div class="container">
    <div class="row">
      <div class="col-12">{{ .Content }}</div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
      <div class="col-12 col-md-8">
        {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}
      </div>
      <div class="col-12 col-md-4">
        <div class="sidebar">
          {{ partial "blog/post-recent" . }}
          {{ partial "blog/post-taxonomies" . }}
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          {{ partial "paginator" . }}
      </div>
  </div>
</div>
{{ end }}


