button[type='submit'] {
  border: none;
  vertical-align: center;
}
.button {
  white-space: nowrap;
  display: inline-block;
  padding: 6px 14px 7px 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: none;
  outline: none;
  &:hover {
    color: #fff;
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.button-white {
  background: #fff;
  color: $secondary;
  &:hover {
    color: lighten($secondary, 10%);
    background: #fff;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}
