.docs-summary {
  display: flex;
  padding: 10px;
  border: none;
  height: 100%;
  .card{
    border: none;
    @include whitebox();
    width: 300px;
    height: 450px;
  }
  .card:hover {
    svg{
      fill: #28AE61;
    }

  }

  .svg-image {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    stroke: #28AE61;
    stroke-width: 4px;
    height: 150px;
    width: 150px;
    fill: white;
  }

}
