<div class="footer-second">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-second-menu">
            <div class="row">

              {{ if .Site.Params.footer.show_menu_footer_primary }}
                <div class="col-12 col-md-3">
                  <h3>Site</h3>
                  {{ partial "menu-footer-primary.html" . }}
                </div>
              {{ end }}

              <div class="col-12 col-md-3">
                <h3>Learn</h3>
                <ul>
                      <li><a href="{{ .Permalink }}">Basics</a></li>
                      <li><a href="{{ .Permalink }}">Examples</a></li>
                      <li><a href="{{ .Permalink }}">Tutorials</a></li>
                      <li><a href="{{ .Permalink }}">Patterns</a></li>
                      <li><a href="{{ .Permalink }}">Blog</a></li>
                </ul>
              </div>

              <div class="col-12 col-md-3">
                <h3>External</h3>
                <ul>
                    <li><a href="{{ .Permalink }}">GitHub</a></li>
                    <li><a href="{{ .Permalink }}">Gitter</a></li>
                    <li><a href="{{ .Permalink }}">Forum</a></li>
                    <li><a href="{{ .Permalink }}">Support</a></li>
                </ul>
              </div>
              
              {{ if .Site.Params.footer.show_menu_footer_secondary }}
              <div class="col-12 col-md-3">
                <h3>Misc</h3>
                <ul>
                <li><a href="/team/#contact">Contact</a></li>
                <li><a href="{{ .Permalink }}">Privacy Policy</a></li>
              </ul>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
    </div>
  </div>
</div>