<div class="footer-second">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-second-menu">
            <div class="row">

              {{ if .Site.Params.footer.show_menu_footer_primary }}
                <div class="col-6 col-md-3">
                  <h3>Site</h3>
                  {{ partial "menu-footer-primary.html" . }}
                </div>
              {{ end }}

              <div class="col-6 col-md-3">
                <h3>Learn</h3>
                <ul>
                      <li><a href="/learn/">Basics</a></li>
                      <li><a href="/learn/">Examples</a></li>
                      <li><a href="/learn/">Tutorials</a></li>
                      <li><a href="/patterns/">Patterns</a></li>
                      <li><a href="/posts/">Blog</a></li>
                </ul>
              </div>

              <div class="col-6 col-md-3">
                <h3>External</h3>
                <ul>
                    <li><a href="https://github.com/nextflow-io/nextflow">GitHub</a></li>
                    <li><a href="https://gitter.im/nextflow-io/nextflow">Gitter</a></li>
                    <li><a href="https://groups.google.com/forum/?nomobile=true#!forum/nextflow">Forum</a></li>
                    <li><a href="/events#support">Support</a></li>
                </ul>
              </div>
              
              {{ if .Site.Params.footer.show_menu_footer_secondary }}
              <div class="col-6 col-md-3">
                <h3>Support</h3>
                <ul>
                <li><a href="/about/#contact">Contact</a></li>
                <li><a href="https://www.seqera.io/">Seqera Labs</a></li>
              </ul>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
    </div>
  </div>
</div>