<div class="logos">
    <div class="logo">
    <a href="{{ .Site.BaseURL }}"><img width="170px" alt="{{ .Site.Title }} Logo" src="{{ .Site.BaseURL }}images/logo.svg" /></a>
    </div>
    <div class="logo-invert">
    <a href="{{ .Site.BaseURL }}"><img width="170px" alt="{{ .Site.Title }} Logo" src="{{ .Site.BaseURL }}images/logo-invert.svg" /></a>
    </div>
    <div class="logo-mobile">
    <a href="{{ .Site.BaseURL }}"><img width="30px" height="30px" alt="{{ .Site.Title }} Logo" src="{{ .Site.BaseURL }}images/logo-mobile.svg" /></a>
    </div>
    <div class="logo-invert-mobile">
    <a href="{{ .Site.BaseURL }}"><img width="30px" height="30px" alt="{{ .Site.Title }} Logo" src="{{ .Site.BaseURL }}images/logo-invert-mobile.svg" /></a>
    </div>
</div>
