{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-why{{ end }}


{{ define "main" }}

{{range where .Site.Pages "Type" "=" "why"}}
<div class="intro intro-small pb-0"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">{{ .Content }}</div>
    </div>
  </div>
</div>
{{end}}
<!-- Spash features (Content: /data/splash.json ) -->
{{ range .Site.Data.splash }}
  <div class="strip strip-{{ .colour }} pt-8 pb-8 splash">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 ">
          {{if not (modBool .title 2)}} <img class="img-fluid" src="{{ .image }}" />
          {{ else }} <h2 class="right-align">{{ .heading }}</h2>
                     <p class="xlarge right-align" style="color:#28AE61">{{ .subheading }}</p>
                     <p class="large right-align">{{ .paragraph }}</p>
          {{ end }}
        </div>
        <div class="col-12  col-md-6">
          {{if (modBool .title 2)}} <img class="img-fluid" src="{{ .image }}" />
          {{ else }} <h2>{{ .heading }}</h2> 
                     <p class="xlarge" style="color:#28AE61">{{ .subheading }}</p>
                     <p class="large">{{ .paragraph }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <svg class="hero-diagonal" aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10" preserveAspectRatio="none">
    <polygon fill="#F0F0F0" points="{{ .points }}"/>
  </svg>
  </div>
{{ end }}

{{ end }}