<div class="col-12 col-lg-6" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="card h-100">
    <a href="{{ .Get "link" }}" target="_blank"><img class="card-img-top" style="width: 100%; height: 15vw; object-fit: cover; margin: 0px" src="{{ .Get "image" }}" alt="{{ .Get "alt" }}"></a>
    <div class="card-body">
      <h3 class="card-title">{{ .Get "card_title" }}</h3>
      <h4 class="card-title" style="color:#28AE61">{{ .Get "card_subtitle" }}</h4>
      <p class="card-text">{{ .Get "description" }}</p>
      <a href="{{ .Get "link" }}" class="btn btn-primary">More details</a>
    </div>
  </div>
</div>